* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgb(52, 29, 95) 0%,
    rgb(5, 142, 149) 100%
  );
  font-family: 'Arial', 'Helvetica', 'Roboto', 'Lucida Sans', 'Open Sans', sans-serif;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  min-height: 600px;
  background: #3e021f; /* Dark burgundy */
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo-input {
  padding: 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #FFD700; /* Green border */
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #f1ebeb; /* Light gray placeholder text */
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(255, 215, 0) 0%,
    rgba(158, 250, 0, 0.508) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-button.edit {
  border: 2px solid #C0C0C0; /* Light green border */
  background: linear-gradient(
    90deg,
    rgb(135, 206, 235)0%,
    rgb(48, 61, 208) 100%
  );
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(16, 136, 72) 0%,
    rgb(17, 134, 78) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(120, 209, 18) 0%,
    rgb(189, 211, 15) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
